// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-box {
  border-left: 3px solid grey;
  margin: 20px;
  padding: 8px;
}

.answer-box {
  background-color: #fffee1;
  border-left: 3px solid grey;
  margin: 20px;
  padding: 8px;
}

  a {
  margin: 20px;
  padding: 8px;
}
